<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<!-- Try "firefox" or "chrome" -->
		<add key="AltnetBrowserProcessName" value="firefox" />
		<!-- Used to check the version of this application, to report if it is outdated. -->
		<add key="AltNetHost" value="sherpoint.mooo.com" />
 	</appSettings>
</configuration>
